body{
  padding: 0;
  margin: 0;
  background: #262600;
}

ul{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 0;
  margin: 0;
  display: flex;
}

ul li{
  list-style: none;
  width: 40px;
  height: 40px;
  background: #fff;
  border-radius: 50%;
  animation: animate 1.8s ease-in-out infinite;
}

@keyframes animate{
  0%, 50%, 100%{
    transform: scale(0.1);
  }
  50%{
    transform: scale(1);
  }
}

ul li:nth-child(1){
  animation-delay: 1.6s;
  background: #910bf3;
  box-shadow: 0 0 50px #910bf3;
  
}
ul li:nth-child(2){
  animation-delay: 1.4s;
  background: #1415ff;
  box-shadow: 0 0 50px #1415ff;
  
}
ul li:nth-child(3){
  animation-delay: 1.2s;
  background: #00c0ff;
  box-shadow: 0 0 50px #00c0ff;
  
}
ul li:nth-child(4){
  animation-delay: 1s;
  background: #04eb00;
  box-shadow: 0 0 50px #04eb00;
  
}

ul li:nth-child(5){
  animation-delay: .8s;
  background: #f9ff00;
  box-shadow: 0 0 50px #f9ff00;
  
}

ul li:nth-child(6){
  animation-delay: .6s;
  background: #ff6600;
  box-shadow: 0 0 50px #ff6600;
  
}

ul li:nth-child(7){
  animation-delay: .4s;
  background: #ff1a1a;
  box-shadow: 0 0 50px #ff1a1a;
  
}